CTS_Projects/GEOII/WebUI/db/WIU_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Version 3 of this schema, dated 3/4/2013.</xs:documentation>
	</xs:annotation>
	<xs:element name="WIUConfig" type="WIUConfigType"/>
	<xs:complexType name="WIUConfigType">
		<xs:sequence>
			<xs:element name="Timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date of file creation.
PTC - Not used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WIUAddress" type="WIUAddressType">
				<xs:annotation>
					<xs:documentation>WIU Location 64-byte address (EMP address).
PTC - WIUAddress in WIUData table.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WIUName" minOccurs="0" type="xs:string"></xs:element>
			<xs:element name="BeaconFlag" type="BeaconFlagType">
				<xs:annotation>
					<xs:documentation>Flag indicating whether the device is configured to beacon continuously.
PTC - BeaconFlag in WIUData table.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EncryptedHMACkey" type="EncryptedHMACkeyType">
				<xs:annotation>
					<xs:documentation>The encrypted HMAC key used by the onboard application.
PTC - EncryptedHMACkey in WIUData table.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LibraryCRC" minOccurs="0" type="LibraryCRCType">
				<xs:annotation>
					<xs:documentation> LibraryCRC will NOT go into the subdiv file. Its for wayside reference purpose.
						The format is 8 characters Hexadecimal.
						Sample data: 516CC355 from Gary Steinbeck
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConfigCRC" type="ConfigCRCType">
				<xs:annotation>
					<xs:documentation>CRC-32 "WIUConfigCRC" according to AAR WIU Requirements in hex format.
PTC - ConfigCRC in WIUData table.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppProgramName" type="AppProgramNameType">
				<xs:annotation>
					<xs:documentation>The name of the PTC program configured for this WIU.
This is used mostly by the wayside team for troubleshooting.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppProgramCRC" type="AppProgramCRCType">
				<xs:annotation>
					<xs:documentation>CRC-32 PTC Application CRC in hex format.
This is used mostly by the wayside team for troubleshooting.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceStatusConfigSCAC" type="SCACType">
				<xs:annotation>
					<xs:documentation>SCAC code for the railroad that this configuration table belongs to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceStatusConfigTableId" type="DeviceStatusConfigTableIdType">
				<xs:annotation>
					<xs:documentation>Configuration table id for looking up signal aspect codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceStatusConfigVersion" type="DeviceStatusConfigVersionType">
				<xs:annotation>
					<xs:documentation>Table version used to look up aspect codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="Signal" type="SignalType"/>
				<xs:element name="Switch" type="SwitchType"/>
				<xs:element name="HazardDetector" type="HazardDetectorType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AppProgramCRCType">
		<xs:restriction base="xs:hexBinary">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AppProgramNameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConfigCRCType">
		<xs:restriction base="xs:hexBinary">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LibraryCRCType">
		<xs:restriction base="xs:hexBinary">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeviceStatusConfigTableIdType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeviceStatusConfigVersionType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeaconFlagType">
		<xs:annotation>
			<xs:documentation>Defines values for beacon flag</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y">
			</xs:enumeration>
			<xs:enumeration value="N">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EncryptedHMACkeyType">
		<xs:restriction base="xs:hexBinary">
			<xs:maxLength value="48"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SCACType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DeviceType" abstract="true">
		<xs:annotation>
			<xs:documentation>Generic device definition.
This contains elements common to all devices and is inherited by all specific device definitions, such as SignalType, SwitchType and HazardDetectorType.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SiteDeviceId" type="SiteDeviceIdType">
				<xs:annotation>
					<xs:documentation>Railroad specific identifier for the device.
PTC - SiteDeviceId in Signal and Switch tables.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descriptive name of the connected device (optional).
PTC - Name not used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SiteName" type="SiteNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Control point name or name of the installation location in free-text string format (optional).
PTC - SiteName in Signal and Switch tables.
NOTE: It is left to each individual road to determine the nomenclature used in this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrackName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Track name associated with the device (optional).
						PTC - Not used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubdivisionNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Subdivision number for the device (optional).
						PTC - Not used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Milepost" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Milepost location of the device (optional).
						PTC - Not used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WIUStatusIndex" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Wayside Element Bit Offset (bit offset within message).
PTC - WIUStatusIndex in Signal and Switch tables.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HazardDetectorType">
		<xs:annotation>
			<xs:documentation>Hazard Detector device.  Extends the generic DeviceType by adding signal direction.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DeviceType">
				<xs:sequence>
					<xs:element name="SignalDirection" type="SignalDirectionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Signal facing direction.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalType">
		<xs:annotation>
			<xs:documentation>Signal device.  Extends the generic DeviceType by adding signal direction.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DeviceType">
				<xs:sequence>
					<xs:element name="SignalDirection" type="SignalDirectionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Signal facing direction.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SwitchType">
		<xs:annotation>
			<xs:documentation>Switch.  Extends the generic DeviceType by adding switch direction.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DeviceType">
				<xs:sequence>
					<xs:element name="SwitchDirection" type="SwitchDirectionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Switch orientation by increasing milepost.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="SignalDirectionType">
		<xs:annotation>
			<xs:documentation>Signal direction, can be one of "Increasing | Decreasing".
PTC - Used to determine which way the signal is facing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Increasing">
				<xs:annotation>
					<xs:documentation>Specifies that the signal is facing in the increasing milepost direction.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Decreasing">
				<xs:annotation>
					<xs:documentation>Specifies that the signal is facing in the decreasing milepost direction.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiteDeviceIdType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiteNameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SwitchDirectionType">
		<xs:annotation>
			<xs:documentation>Switch direction, can be one of "LF | LR | RF | RR".
PTC - Used to determine which way the switch is facing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LF"/>
			<xs:enumeration value="LR"/>
			<xs:enumeration value="RF"/>
			<xs:enumeration value="RR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WIUAddressType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
